/*---------------------------------------------------------------------------------


---------------------------------------------------------------------------------*/

html {
    height: 100% !important;
}

body {
    position: relative;
    height: 100%;
    font-size: 14px;
    color: #363940;
}

body .body {
    height: 100%;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 46, 82, 0.15);
    padding: 20px;
}


/* .page {
    overflow: hidden;
    padding: 50px 0;
} 

* {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}*/

*:focus {
    outline: none !important;
    box-shadow: none !important;
}


/* Begin Fonts */

@font-face {
    font-family: myFirstFont;
    src: url(fonts/dm-sans-cufonfonts/DMSans-Regular.ttf) format("ttf");
}

*,
li,
body {
    font-family: myFirstFont, Helvetica, Arial, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Roboto", Helvetica, Arial, sans-serif; */
    font-weight: 700;
    font-family: myFirstFont, Helvetica, Arial, sans-serif !important;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p {
    font: 14px/1.5em "myFirstFont";
}

.navbar-nav>li>a {
    font-family: "myFirstFont", Helvetica, Arial, sans-serif;
}


/* End Fonts */

.features-box-4 {
    width: 46%;
}

section {
    position: relative;
}

.page-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #fff url(../img/page-loader.gif) center center no-repeat;
}

.devider {
    width: 100%;
    height: 23px;
    background: url("../img/devider.png") no-repeat center center;
    margin: 5px 0 10px;
}

.thumbnail {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.parallax {
    position: relative;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}


/* #header {
    height: 98px;
} */


/* ===== Begin text colors ===== */

.text-main {
    color: #363940;
}


/* Theme main color */

.text-white {
    color: #fff;
}

.text-off-white {
    color: #e7e7e7;
}

.text-dark {
    color: #000;
}


/* ===== Begin navbar ===== */

.navbar {
    margin: 0;
    border: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navbar .container {
    padding-left: 50px;
    padding-right: 50px;
}


/* Navbar brand (logo) */

.navbar-brand {
    background-repeat: no-repeat;
    background-position: left center;
    width: 150px;
    height: auto;
    padding: 24px 0;
    text-indent: -99999px;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navbar-default .navbar-brand {
    background-image: url(../img/logo.png);
}

.navbar-shrink .navbar-brand {
    background-image: url(../img/logo.png);
}

.navbar-transparent .navbar-brand {
    background-image: url(../img/logo.png);
}

.navbar-inverse .navbar-brand {
    background-image: url(../img/logo.png);
}


/* Navbar links */

.navbar-nav>li>a {
    padding: 24px 0;
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}


/* Navbar dropdown */

.dropdown-left {
    left: 0 !important;
    right: auto !important;
}

.dropdown-right {
    right: 0 !important;
    left: auto !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
}

.navbar-default .dropdown-menu {
    padding: 10px 0;
}

.dropdown-menu>li>a {
    padding: 4px 20px;
    text-transform: uppercase;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a.active,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    text-decoration: none;
    background-color: transparent;
}


/* Navbar inverse dropdown */

.navbar-inverse .dropdown-menu {
    padding: 10px 0;
}


/* Navbar fixed */

.navbar-fixed-top .container {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navbar-shrink {
    z-index: 9999;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.navbar-shrink .navbar-brand {
    font-size: 20px;
}


/* .navbar-default.navbar-fixed-top.navbar-shrink .container {} */

.navbar-fixed-top.navbar-shrink .container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav>li>a {
    padding-top: 24px;
    padding-bottom: 24px;
}


/* Navbar transparent */

.navbar-transparent {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-fixed-top.navbar-transparent .container {
    padding-top: 30px;
    padding-bottom: 0;
}

.navbar-fixed-bottom.navbar-transparent .container {
    padding-top: 0;
    padding-bottom: 30px;
}

.navbar-transparent .navbar-nav>li>a {
    color: #fff;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-brand:focus {
    color: #fff;
}


/* ===== End navbar ===== */


/* Begin text carousel intro */

#text-carousel-intro-section {
    height: 100%;
}

#text-carousel-intro-section .container {
    height: 100%;
}

#text-carousel-intro-section .caption {
    position: relative;
    top: 50%;
    margin-top: -70px;
}

#text-carousel-intro-section .caption h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#text-carousel-intro-section .caption p {
    letter-spacing: 2px;
    font-size: 15px;
}


/* End text carousel intro */


/*******************************/


/********** About CSS **********/


/*******************************/

.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
    background: #131b33;
}

.about h2,
p {
    color: #fff;
}

.about .section-header {
    margin-bottom: 30px;
}

.about .about-img {
    position: relative;
    height: 100%;
}

.about .about-img img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.about .about-text i {
    font-size: 16px;
    color: white;
}

.about .about-text img {
    padding-top: 10px;
}

@media (max-width: 767.98px) {
    #text-carousel-intro-section .caption {
        /* margin-top: -250px !important; */
        top: 200px !important;
    }
    #text-carousel-intro-section .caption h1 {
        font-size: 30px;
    }
    #text-carousel-intro-section .caption p {
        font-size: 16px;
    }
}


/* ==========================================================================
work section
========================================================================== */

#work {
    text-align: center;
}

#work h1 {
    padding-top: 20px;
}

#work p {
    color: black;
}

#work .col-md-6 {
    padding: 28px;
    position: relative;
    transition: all 0.4s ease-in-out;
    box-shadow: 2px 2px 2px 2px rgba(50, 50, 50, 0.2);
}

#work h3 {
    font-size: 18px;
}

@media (max-width: 767.98px) {
    .feature-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .features-box-4 {
        flex: 0 0 calc(50% - 20px);
        padding: 20px;
        margin: 10px;
    }
}


/*******************************/


/********** About CSS **********/


/*******************************/

.about2 {
    margin-top: 20px;
    position: relative;
    width: 100%;
    padding: 45px 0;
    background: #131b33;
}

.about2 h1 {
    color: #fff;
}

.about2,
h2,
p {
    color: #fff;
}

.about2 .section-header {
    margin-bottom: 30px;
}

.about2 .about2-img {
    position: relative;
    height: 100%;
}

.about2 .about2-img img {
    width: 100%;
    height: 100%;
}

.about2 .about2-img p {
    color: #fff;
}

.about2 .about2-text p {
    font-size: 16px;
    color: white;
}

.about2 .about2-text img {
    padding-top: 10px;
}

@media (max-width: 767.98px) {
    .about2 .about2-img {
        margin-bottom: 30px;
        height: auto;
    }
}


/** footer **/

.footer {
    background: #fff;
    padding: 30px 10px;
    text-align: left;
}

ul.loca li {
    color: #fff;
    padding-bottom: 10px;
    display: flex;
    font-size: 16px;
    flex-wrap: wrap;
}

ul.loca li:last-child {
    padding-right: 0;
    float: left;
}

ul.loca li a {
    padding-right: 0px;
    color: #fff;
    margin-top: 0px;
}

ul.Links_footer {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

ul.Links_footer li a {
    display: block;
    color: #fff;
    font-size: 17px;
    padding-left: 20px;
    margin-top: -37px;
}

ul.Links_footer li a:hover {
    color: #fff;
}

ul.Links_footer li {
    padding-bottom: 15px;
    color: #fff;
}

.hhh {
    margin-bottom: 15px;
}

.footer .newsletter h3 {
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    display: block;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.footer .address .form-control {
    padding: 10px 15px;
    border: #ddd solid 1px;
    margin-bottom: 20px;
    box-shadow: inherit;
    border-radius: 10px;
}

.address h3 {
    color: #fff;
    font-size: 29px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 3px;
    border-bottom: #fff solid 3px;
    margin-bottom: 20px;
    width: 226px;
}

.address img {
    padding-bottom: 10px;
}

.address p {
    color: #fff;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
}

.form-control:focus,
.form-control: {
    border: #ddd solid 1px !important;
}

.footer .address .submit-btn {
    padding: 8px 45px;
    border: #311bf5 solid 1px;
    background: #910117;
    color: #fff;
    font-weight: 500;
    font-size: 19px;
    border-radius: 10px;
}

.footer .address .submit-btn:hover {
    background: #fff;
    border: #fff solid 1px;
    color: #311bf5;
}

.copyright {
    background: #0b0c2a;
    padding: 20px 0px 20px 0;
}

.copyright p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-align: center;
    margin: 0 auto;
}

.copyright a {
    color: #ffff;
}

.copyright a:hover {
    color: #000;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: inherit;
}


/** end footer **/


/*Widget1: Useful Links*/

ul.imp-links {
    margin-top: 15px;
}

ul.imp-links li {
    padding: 5px 0;
}

ul.imp-links li a {
    text-decoration: none;
    color: #fff;
}


/*Widget2: subscribe form*/

#subscribe #result {
    display: block;
    width: 100% !important;
}

#footer_signup {
    margin: 20px 0;
}

#subscribe>input[type="text"] {
    border: 0 none;
    color: #99abb7;
    font-style: italic;
    font-size: 0.9em;
    padding: 7px 10px;
    width: 170px;
    height: 30px;
}

#subscribe>button[type="submit"] {
    background: none repeat scroll 0 0 #21c2f8;
    border: 0 none;
    color: #ffffff;
    font-style: normal;
    font-weight: 300;
    padding: 7px 20px;
    height: 30px;
    transition: all 0.4s ease-in;
}


/*Widget3: twitter*/

.single-tweet {
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 10px;
    word-spacing: 2px;
}

.tweet-content {
    padding-bottom: 10px;
    line-height: 1.5em;
}


/* ===== End footer ===== */


/* ===== Begin page header ===== */

.page-header {
    margin: 0 0 60px 0;
    padding: 0;
    border: none;
}

.page-header h2 {
    text-transform: uppercase;
}

p.subtitle {
    letter-spacing: 2px;
    margin-top: 10px;
}


/* ===== End page header ===== */


/* ===== Begin extra-space ===== */

.extra-space-m {
    width: 100%;
    height: 20px;
}

.extra-space-l {
    width: 100%;
    height: 40px;
}

.extra-space-xl {
    width: 100%;
    height: 60px;
}

.extra-space-xxl {
    width: 100%;
    height: 80px;
}


/* ===== End more-space ===== */


/* ===== Begin OWL carousel ===== */

.owl-carousel {
    cursor: e-resize;
}

.owl-theme .owl-controls {
    margin-top: 30px;
}

.owl-theme .owl-controls .owl-page span {
    background: rgba(0, 0, 0, 0);
    width: 14px;
    height: 14px;
    border: 3px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: rgba(0, 0, 0, 0);
    border: 3px solid #fff;
}

.owl-buttons {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 100%;
}

.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0;
    text-align: center;
    background: transparent;
    opacity: 1;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    opacity: 0.5;
}

.owl-next {
    background-image: url(../img/arrow-right.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    right: 0;
}

.owl-prev {
    background-image: url(../img/arrow-left.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    left: 0;
}


/* ===== End OWL carousel ===== */


/* Scroll to top button */

.scrolltotop {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 30px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    z-index: 9999;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.scrolltotop .fa {
    padding-left: 4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* ===== End buttons ===== */